<%- include('../partials/head') %>

<!-- <% if(message.success) { %>
<div class="alert alert-success">
  <% } else { %>
  <div class="alert alert-error">
    <% } %>
    <p><% message.success || message.error %></p>
    <p>
      <svg
        class="close-icon"
        fill="white"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24px"
        height="24px"
      >
        <path
          d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
        />
      </svg>
    </p>
  </div> -->

  <h1 class="heading-text"><%= groupObj.groupName %></h1>

  <!-- <% for(let key in groupObj) { if(key !== 'transaction') {%>
<li><%= groupObj[key] %></li>
<% } } %> -->

  <table class="table table-light table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Item</th>
        <th>Price</th>
        <% if(admin)  {%>
        <th></th>
        <% } %>
      </tr>
    </thead>

    <%(groupObj.transaction).forEach((obj, index) => { %>
    <tr>
      <td><%= obj.member %></td>
      <td><%= obj.date %></td>
      <td><%= obj.item %></td>
      <td><%= obj.price %></td>
      
      <% if(admin) {%>
      <td><a style="margin-right: 30px;" href="/groups/<%= groupObj._id %>/<%= index %>/edit">Edit</a> 
        <form action="/groups/<%= groupObj._id %>/<%= index %>?_method=DELETE" method="post">
          <button>Delete</button>
        </form>
      </td>
      <% } %>
    </tr>
    <%}) %>
    <tr>
      <td colspan="3">Total</td>
      <td><%= total %></td>
    </tr>
  </table>

  <p class="text-secondary mt-4">Total individual expenditure</p>

  <table class="table table-light table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total</th>
        <th>Result</th>
      </tr>
    </thead>
    <% for(let key in individualTotalExp) { %>
    <tr>
      <td><%= key %></td>
      <td><%= individualTotalExp[key] %></td>
      <td>
        <%= Math.round(individualTotalExp[key] - (total /
        groupObj.member.length)) %>
      </td>
    </tr>
    <% } %>
    <tr>
      <td colspan="2">Total</td>
      <td><%= total %></td>
    </tr>
  </table>
  <br>

  <!-- <form>

    <button class="btn pv-10 ph-20"> Clear All</button>
  </form> -->



  <% if(admin) { %>
  <form class="form mt-2" action="/groups/transaction" method="post">
    <fieldset>
      <legend>Add Transaction</legend>
      <label for="member">Member Name</label>
      <select class="form-select mb-3" id="member" name="member" aria-label="Select a member">
        <option value="">Please choose a member</option>
        <% (groupObj.member).forEach(person => {%>
        <option value="<%= person %>"><%= person %></option>
        <% }) %>
      </select>

      <div class="mb-3">
        <label for="item" class="form-label">Item</label>
        <input type="text" class="form-control" id="item" name="item" placeholder="Expense Item">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" placeholder="0">
      </div>

      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" name="date">
      </div>

      <input type="hidden" name="groupId" value="<%= groupObj._id %>" <br />


      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Add Transaction</button>
      </div>

    </fieldset>
  </form>



  <% } %>

  

  <%- include('../partials/foot') %>
</div>
