<%- include('../partials/head') %>

<h1>Group:- <%= groupObj.groupName %></h1>

<!-- <% for(let key in groupObj) { if(key !== 'transaction') {%>
<li><%= groupObj[key] %></li>
<% } } %> -->

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Item</th>
      <th>Price</th>
    </tr>
  </thead>

  <%(groupObj.transaction).forEach(obj => { %>
  <tr>
    <td><%= obj.member %></td>
    <td><%= obj.date %></td>
    <td><%= obj.item %></td>
    <td><%= obj.price %></td>
  </tr>
  <%}) %>
  <tr>
    <td colspan="3">Total</td>
    <td><%= total %></td>
  </tr>
</table>

<p>Total individual expenditure</p>

<table>
  <tr>
    <td>Name</td>
    <td>Total</td>
    <td>Result</td>
  </tr>
  <% for(let key in individualTotalExp) { %>
  <tr>
    <td><%= key %></td>
    <td><%= individualTotalExp[key] %></td>
    <td><%= individualTotalExp[key] - (total / groupObj.member.length) %></td>
  </tr>
  <% } %>
  <tr>
    <td>Total</td>
    <td><%= total %></td>
  </tr>
</table>

<br />
<br />
<br />

<% if(admin) { %>
<form action="/groups/transaction" method="post">
  <fieldset>
    <legend>Add Transaction</legend>
    <label for="member">Member Name</label>
    <select id="member" name="member">
      <option value="">Please choose an option</option>
      <% (groupObj.member).forEach(person => {%>
      <option value="<%= person %>"><%= person %></option>
      <% }) %>
    </select>
    <label
      >Item
      <input type="text" placeholder="Expense item" name="item" />
    </label>

    <label
      >Price
      <input type="number" placeholder="price" name="price" />
    </label>

    <label
      >Date
      <input type="date" name="date" />
    </label>

    <input type="hidden" name="groupId" value="<%= groupObj._id %>" <br />

    <button type="submit">Submit</button>
  </fieldset>
</form>

<% } %>

<br />

<script></script>

<%- include('../partials/foot') %>
