<%- include('../partials/head') %>

<div class="container">

<!-- <% if(message.success) { %>
<div class="alert alert-success">
  <% } else { %>
  <div class="alert alert-error">
    <% } %>
    <p><% message.success || message.error %></p>
    <p>
      <svg
        class="close-icon"
        fill="white"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24px"
        height="24px"
      >
        <path
          d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
        />
      </svg>
    </p>
  </div> -->

  <h1 class="heading-text"><%= groupObj.groupName %></h1>

  <!-- <% for(let key in groupObj) { if(key !== 'transaction') {%>
<li><%= groupObj[key] %></li>
<% } } %> -->

  <table class="table table-light table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Item</th>
        <th>Price</th>
        <% if(admin && groupObj.transaction.length > 0)  {%>
        <th></th>
        <% } %>
      </tr>
    </thead>

    <%(groupObj.transaction).forEach((obj, index) => { %>
    <tr>
      <td><%= obj.member %></td>
      <td><%= obj.date %></td>
      <td><%= obj.item %></td>
      <td><%= obj.price %></td>
      
      <% if(admin) {%>
      <td class="d-flex justify-content-between align-items-center">
        <a class="btn btn-success" style="margin-right: 30px;" href="/groups/<%= groupObj._id %>/<%= index %>/edit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg>
      </a> 
        <form action="/groups/<%= groupObj._id %>/<%= index %>?_method=DELETE" method="post">
          <!-- <button class="btn btn-danger">Delete</button> -->
          <button class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
          </button>
        </form>
      </td>
      <% } %>
    </tr>
    <%}) %>
    <tr>
      <!-- <td colspan="3">Total</td> -->
      <td colspan="<%= (admin && groupObj.transaction.length > 0) ? 4 : 3 %>">Total</td>
      <td><%= total %></td>
    </tr>
  </table>

  <p class="text-secondary mt-4">Total individual expenditure</p>

  <table class="table table-light table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total</th>
        <th>Result</th>
      </tr>
    </thead>
    <% for(let key in individualTotalExp) { %>
    <tr>
      <td><%= key %></td>
      <td><%= individualTotalExp[key] %></td>
      <td>
        <%= Math.round(individualTotalExp[key] - (total /
        groupObj.member.length)) %>
      </td>
    </tr>
    <% } %>
    <tr>
      <td colspan="2">Total</td>
      <td><%= total %></td>
    </tr>
  </table>
  <br>

  <!-- <form>

    <button class="btn pv-10 ph-20"> Clear All</button>
  </form> -->



  <% if(admin) { %>
  <form class="form mt-2" action="/groups/transaction" method="post">
    <fieldset>
      <legend>Add Transaction</legend>
      <label for="member">Member Name</label>
      <select class="form-select mb-3" id="member" name="member" aria-label="Select a member" required>
        <option value="">Please choose a member</option>
        <% (groupObj.member).forEach(person => {%>
        <option value="<%= person %>"><%= person %></option>
        <% }) %>
      </select>

      <div class="mb-3">
        <label for="item" class="form-label">Item</label>
        <input type="text" class="form-control" id="item" name="item" placeholder="Expense Item" required>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" placeholder="0" min="0" required>
      </div>

      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" name="date">
      </div>

      <input type="hidden" name="groupId" value="<%= groupObj._id %>" <br />


      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Add Transaction</button>
      </div>

    </fieldset>
  </form>



  <% } %>

</div>

  <%- include('../partials/foot') %>
</div>
